
div{
    border-radius: 5px;
    cursor: pointer;
}

#header
{
    
    z-index: 1;
    height:40px;
    width: 98%;
    background-color: #668284;
    margin-bottom: 10px
    }

#name {
    float:left;
	margin-left: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#profile {
    float:left;
    width: 150px;
    border-radius: 50%;
  }

#logo {
    float:right;
    width: 170px;
    border-radius: 50%;
  }

#email{
    float:right;
    margin-right: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#contact
{
    margin-left:45%;
    padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #f0f0f0;
    }

a:hover {
    font-weight: bold;
}





.right
{
    float: left;
    margin-top: 50px;
    padding-left:5px;
    
    height: auto;
    width: 99%;
    background-color: #70aff8;
    }


    
    
h3
{
    color: #2a5154;
    text-decoration: none;
    }

#job-responsibilities
{
    padding: 1px;
    }
.job-title
{
    font-weight: bold;
    }

#grades
{
    border: 1px dashed black;
    }
td
{
    padding: 2px;
    border: 1px solid #141413;
    }


#heading
{
    font-weight:bold;
    }


    footer {
        clear: both;
        position: relative;
        height: 200px;
        margin-top: -200px;
    }


ul.leftnav{
    list-style-type: none;
    margin :0;
    padding: 0;
    overflow: hidden;
    
}


#mynavli a{
    float: left;
    display: block;
    color: #668284;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

figcaption{
    color: #668284;
    text-decoration: none;
}

github{
    color: #668284;
    text-decoration: none;

}
